<nav>

    <div class="site-title">

        <a href="/"><h1>Poster-Foster api</h1></a>
        <h5></h5>
        <p>A Net Ninja Site</p>

    </div>

    <ul>

        <li><a href="/posts">Posts</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/posts">New Post</a></li>

    </ul>

</nav>
