<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="blogs content">

        <h2>PosterFoster</h2>


    </div>

 
   </div>

   
  <h1><br></h1>
  <h1><br></h1> <h1><br></h1>
  <h1><br></h1> <h1><br></h1>
 
    <%- include('./partials/footer.ejs') %>
</body>

</html>

